.training-initiation-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .training-initiation-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 2rem;
    background-color: #033860;
  }
  
  .InteractiveCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .InteractiveCard:hover {
    transform: translateY(-5px);
  }
  
  .InteractiveCard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #031a6b;
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #087ca7;
  }
  
  input,
select,
button {
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #05b2dc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #05b2dc;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004385;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #031a6b;
}
