/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Set default font family, size, and weight */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Set heading font family, size, and weight */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

/* Set paragraph font family, size, and weight */
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/* Set button font family, size, and weight */
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

/* Set input label font family, size, and weight */
label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

/* Set input font family, size, and weight */
input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
